body{
    background-color:white ;
    border-radius: 25%;
    display:flex;
    justify-content: center;
    background-image: url(./cal-image/filter-1990470__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     object-fit: cover;
}
.container{

    display:flex;
    flex-direction: column;
    justify-content: center;
    width:300px   ;
    background-color: black;
    margin-top: 100px ;
}

#output{
    height: 70px;
    border: 5px black;
    color: black;
    background-color:white;
    font-size: larger;
    margin: 20px;

    padding-left: -10px;
}
.button{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
   
    
    background-color: black;
}
button:hover{
    background-color: aqua
}
button:active{
    background-color: blueviolet
;transform: translate(5x)
}
button{
    height: 60px;
    width: 60px;
    border-radius: 25%;
    color:wheat;
    background-color:blue;
    font-size: larger ;
    aspect-ratio: 1;
}